//@import 'cozy-ui'

.title
    color blue

:global {
    .leaflet-container {
        height: 300px;
        width: 50%;
    }

    .js-plotly-plot {
        height: 500px;
        width: 50%;
    }
}
