@import 'cozy-ui/defaults'
@import 'cozy-ui'

:global
    // Global utils classes comes here
    .leaflet-container {
        height: 300px;
        width: 500px;
    }

    .js-plotly-plot {
        height: 500px;
        width: 500px;
    }
